<div class="card card-body">
  <h3>Create New Post</h3>
  <form action="/posts" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        required
        value="{{title}}"
      />
    </div>
    <div class="form-group">
      <label for="text">Content</label>
      <textarea name="text" class="form-control" required>{{text}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>